<ion-header no-border>
    <ion-toolbar color="white">
        <img src="../../assets/img/logo.png" alt="" style="height: 100px; width :200">
    </ion-toolbar>
</ion-header>

<ion-content color="white">
    <div class="resumen-cuentas">
        <ion-chip color="secondary">Total cuentas</ion-chip>
        <ion-chip color="success">Gestionadas</ion-chip>
        <ion-chip color="danger">Faltantes</ion-chip>
    </div>
    <ion-searchbar placeholder="Busqueda por cuenta" (ionChange)="find( $event )"></ion-searchbar>

    <div class="contenedor">
        <ion-item-sliding color="white" *ngFor="let cuenta of arrayCuentas">

            <ion-item-options side="start">

                <ion-item-option color="secondary" (click)="goPanoramaView(cuenta)">
                    <ion-icon slot="icon-only" name="walk"></ion-icon>
                </ion-item-option>

                <ion-item-option (click)="openLink(cuenta)" color="medium">
                    <ion-icon slot="icon-only" name="bicycle"></ion-icon>
                </ion-item-option>

            </ion-item-options>

            <ion-item class="color-black">
                <ion-label>
                    <p>
                        <ion-chip color="success">Cuenta: {{cuenta.cuenta}} </ion-chip>
                    </p>
                    <p class="border"><strong>Propietario: </strong>{{cuenta.propietario}}</p>
                    <p class='border'><strong>Dirección: </strong> {{cuenta.direccion}}</p>
                    <p class='border'><strong>Deuda:</strong>{{cuenta.deuda | currency:'USD':'symbol' }}</p>
                </ion-label>
            </ion-item>

            <ion-item-options side="end">

                <ion-item-option color="tertiary" (click)="gestionarCuenta(cuenta.cuenta)">
                    <ion-icon slot="icon-only" name="navigate"></ion-icon>
                </ion-item-option>

                <ion-item-option color="success" (click)="goPhotos(item.cuenta)">
                    <ion-icon slot="icon-only" name="image"></ion-icon>
                </ion-item-option>

            </ion-item-options>

        </ion-item-sliding>
    </div>




</ion-content>